:root{
    --primary-black-color:#212121;
    --primary-text-color:#757575;
    --primary-white-color:#ffffff;
    --accent-color:#2196f3;
    --background-dark:#2f303a; 
    --color:#e5e5e5;
    --rgba:rgba(255, 255, 255, 0.6);
    --container-padding:calc((100% - 1200px) /2);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .section {
padding: 94px 0;
  }

body {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color);
  background-color: var(--primary-white-color);
  font-family: 'Roboto', 'Arial', sans-serif;
}

.container{
width: 1200px; 
margin:0 auto;
padding-left: 15px;
padding-right: 15px;
}

.list{
    text-decoration: none;
}

li {
    list-style: none;
} 

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  display: inline-block;
  margin-bottom:  20px;
}



.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;

    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-menu {
display: flex;
align-items: center;
gap: 80px;
}

.nav-contact{
    display: flex;
    align-items: center;
    gap: 80px;
}

header .current {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.headers {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
}

.link {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.headers:hover,
.headers:focus,
.headers .current,
.link:hover,
.link:focus {
    color: var(--accent-color);
}

.hero {
  background: var(--background-dark);
  padding: 200px var(--container-padding);
  text-align: center;
}

.hero-title {
    font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
margin:20px auto;

color: var(--primary-white-color);

}

.hero-button{
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--primary-white-color);
background: var(--accent-color);
cursor:pointer;
}

.Benefits-list{
    display: flex;
    gap: 30px;
}

.Benefits-items {
    flex-basis: calc((100% - 120px) /4 );
}

.Benefits-title {
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--primary-black-color);

}


.galery-list{
    display: flex;
    gap: 30px;
}


.galery-items{
    flex-basis: calc((100% - 90px) / 3);
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-items {
    flex-basis: calc((100% - 120px) / 4);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    
}

.Benefits-parraf {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
color: var(--primary-text-color);
}

.section-title {
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--primary-black-color);
margin-bottom: 50px;

}

.our-team { 
    background: #F5F4FA;
}

.team-name { 
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color:var(--primary-black-color);
    text-align: center;
    margin-bottom: 10px;
}

.team-parraf {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.18;
color: var(--primary-text-color);
text-align: center;

}

.footer{
    background: var(--background-dark);
    padding: 94px var(--container-padding);
}


.contact:hover,
.contact:focus{
    color:var(--accent-color);
}


.location{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
color: var(--primary-white-color);
}

.contact {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
color: var(--rgba);
margin-bottom: 10px;
}

.buttons {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
       color: var(--primary-white-color);
       background: var(--accent-color); 
       border-radius: 4px;
       border: none;
       cursor:pointer;
       padding: 6px 22px;
}

.button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-black-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
}

.button:hover,
.button:focus {
background-color: var(--accent-color);
}

.portafoli-title {
    font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-black-color);
}

.portafoli-parraf{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.8;
color: var(--primary-text-color);
}

.portafoli-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
}

.portafoli-cart {
    display: flex;
    flex-wrap:wrap;
    gap: 30px;
}

.portafoli-items {
    flex-basis: calc((100% - 90px) / 3);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.staf { 
    padding-top: 32px;
    padding-bottom: 32px;
}

.cart-proyect {
    display: block;
    padding: 20px 24px;
}
